#div1 {
    margin: 30px 50px;
    border-bottom: 1mm;
    background-color: antiquewhite;
    width: 300px;
    float: auto;
}

#div2 {
    margin: 30px 50px;
    border-bottom: 1mm;
    background-color: antiquewhite;
    width: auto;
    float: auto;
}

.table dt {
    margin: 0px 50px;
}