/* section {
    border: 1px solid black;
    height: auto;
    width: auto;
} */

#master {
    float: left;
    width: 600px;
    height: 700px;
    margin: 100px 350px;
    border: 1px solid red;
}

#s1 {
    float: left;
    width: 550px;
    height: 300px;
    margin: 100px 350px;
    border: 1px solid black;
}

#s2 {
    float: left;
    width: 550px;
    height: 300px;
    margin: 100px 350px;
    border: 1px solid black;
}

#suma {
    border: 1px solid black;
    width: 200px;
    padding: 20px 20px;
    margin: 20px 20px;
    display: block;
    float: left;
}

#resta {
    border: 1px solid black;
    width: 200px;
    padding: 20px 20px;
    margin: 20px 20px;
    display: block;
    float: right;
}

#dividir {
    border: 1px solid black;
    width: 200px;
    padding: 20px 20px;
    margin-bottom: 20px;
    display: block;
    float: left;
}

#multiplicar {
    border: 1px solid black;
    width: 200px;
    padding: 20px 20px;
    margin-bottom: 20px;
    display: block;
    float: right;
}