h1 {
    color: green;
}

h2 {}

#amarillo {
    color: rgb(224, 224, 44);
}

#pulpura {
    color: rgb(128, 40, 150);
}

#azul {
    color: rgb(45, 45, 148);
}

#rojo {
    color: red;
}

#verde {
    color: rgb(101, 158, 14);
}